layout {
    tab name="Dev" {
      pane size=1 borderless=true {
          plugin location="tab-bar"
      }
      pane split_direction="vertical" {
        pane command="gemini" size="40%" name="gemini" {
          args "--yolo"
        }
        pane size="60%" split_direction="horizontal" {
          pane command="yazi" size="55%" name="yazi + nvim"
          pane size="45%" name="zsh"
        }
      }
      pane size=1 borderless=true {
          plugin location="status-bar"
      }
    }
    tab name="Git" {
      pane size=1 borderless=true {
        plugin location="tab-bar"
      }
      pane command="lazygit" name="lazygit"
      pane size=1 borderless=true {
        plugin location="status-bar"
      }
    }
}
